.tech-stack-section .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech-stack-section .list .item {
    flex: 1 0 calc(16% - 10px);;
    margin: 5px;
    display: flex;
    justify-content: center;
}